<?xml version="1.0"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="FirewallMetadataKey" value="build_config"/>
    <!-- | separated values -->
    <add key="FirewallRoleNames" value="rax_managed|rack_connect|rax_build_config"/>
  </appSettings>
</configuration>
